.answer-actions {
  display: flex;
  align-items: center;

  .answer-vote > button {
    display: inline-block;
    padding: 0 12px;
    color: #0084ff;
    background: rgba(0,132,255,.1);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 4px;
    svg {
      position: relative;
      top: 8px;
      margin-right: 4px;
    }
    &:hover {
      background-color: rgba(0,132,255,.15);
    }
  }
  .answer-vote > button.active {
    color: #fff;
    background-color: #0084ff;
  }
  .answer-vote > button:last-child svg {
    position: relative;
    top: 0;
    margin: 0;
  }

  .answer-comment, .answer-share, .answer-collection,
  .answer-thank, .answer-more{
    margin-left: 24px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    color: #8590a6;
    svg {
      top: 1px;
    }
  }

  .answer-more svg {
    top: 3px;
  }

}

.answer-share-clip {
  position: absolute;
  bottom: -52px;
  left: 95px;
  width: 134px;
  height: 40px;
  padding: 6px 0;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(26,26,26,.1);
  z-index: 203;
  button {
    font-size: 14px;
    display: block;
    text-align: center;
    line-height: 40px;
    width: 100%;
    svg {
      top: 2px;
      margin-right: 3px;
    }
    &:hover {
      background-color: #f6f6f6;
    }
  }
}
.answer-share-clip::before, .answer-share-clip::after {
  content: '';
  height: 0;
  width: 0;
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 0 10px 10px;
  position: absolute;
  z-index: 100;
  top: -8px;
  left: 58px;
}
.answer-share-clip::before {
  border-color: transparent transparent #e7eaf1;
  top: -10px;
}

.answer-thank {
  span {
    position: relative;
    top: -1px;
    left: 4px;
  }
}
