/** COMMON STYLE BEGIN **/
body {
  background-color: #f8f9fa;
}
.inner {
  position: relative;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}
main {
  padding-top: 80px;
}
.main-left {
  min-height: 200px;
  width: 75%;
  background-color: #fff;
  border: 1px solid #f8f9fa;
  padding: 30px 25px;
}
/** COMMON STYLE END **/
