#dashboard {
  display: flex;
  justify-content: space-between;
  width: 690px;
  height: 58px;
  padding: 0 20px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

#dashboard-nav {
  width: 200px;
  button, a {
    display: inline-block;
    height: 100%;
    line-height: 58px;
    color: #1a1a1a;
    margin-right: 40px;
    cursor: pointer;
    transition: color .2s ease-in;
    &:hover {
      color: #175199;
    }
    svg {
      position: relative;
      top: 3px;
      left: -3px;
      color: #8590a6;
    }
  }
}

#dashboard > a {
  display: block;
  float: right;
  color: #8590a6;
  line-height: 58px;
  transition: color .2s ease-in;
  &:hover {
    color: #175199;
  }
}

.question-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: opacity .3s ease-out;
}
.question-bk {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(26,26,26,.65);
  transition: background-color .3s ease-out;
}
.question-container {
  position: relative;
  z-index: 1;
  display: flex;
  width: 48%;
  max-height: calc(100vh - 24px * 2);
  margin-right: auto;
  margin-left: auto;
  outline: 0;
  box-shadow: 0 5px 20px rgba(26,26,26,.1);
  box-sizing: border-box;
  transition: max-height .8s ease;
}
.question-inner {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  border-radius: 2px;
  h3 {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: #1a1a1a;
    text-align: center;
  }
  .question-sub {
    padding: 0 38px;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.5;
    color: #8590a6;
    text-align: center;
  }
  > button {
    position: absolute;
    top: 3px;
    right: -60px;
    padding: 12px;
    svg {
      color: #fff;
    }
  }
  form {
    margin-top: 24px;
    width: 100%;
    padding: 0 24px 32px;
    box-sizing: border-box;
    > span {
      display: block;
      margin-top: 28px;
      margin-bottom: 8px;
      padding-left: 13px;
      color: #444;
    }
    > .input-container {
      box-sizing: border-box;
      height: auto;
      padding: 6px 12px;
      border: 1px solid #ebebeb;
      border-radius: 3px;
      margin-bottom: 12px;
      textarea, input {
        resize:none;
        outline: none;
        width: 100%;
        max-width: 100%;
        border: none;
        overflow: hidden;
        word-break: break-all;
        font-size: 14px;
        line-height: 24px;
      }
    }
    .is-focus {
      border: 1px solid #8590a6;
    }
    .anonymous {
      font-size: 14px;
      color: #8590a6;
    }
    .button-container {
      justify-content: center;
      margin-top: 28px;
      margin-bottom: 16px;
      button {
        display: block;
        color: #fff;
        background-color: #0084ff;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15%;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        border: 1px solid;
        border-radius: 3px;
        &:hover {
          background-color: #0077e6;
        }
      }
    }
  }
}

.topic {
  color: rgb(175, 189, 207);
  float: right;
  top: -20px;
}
