#head-container {
  position: relative;
  z-index: 1000;
  height: 52px;
}
header {
  position: fixed;
  height: 52px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);

  $default-color: #8590a6;

  .inner {
    padding: 11px 0;
    box-sizing: border-box;

    /** LOGO BEGIN **/
    #logo {
      display: block;
      position: absolute;
      left: 0;
      width: 64px;
      img {
        height: 30px;
        width: 64px;
      }
    }
    /** LOGO END **/

    /** NAV BAR BEGIN **/
    nav {
      position: absolute;
      left: 90px;
      display: flex;
      height: 30px;
      width: 165px;
      a {
        padding: 0 15px;
        color: $default-color;
        font-size: 15px;
        line-height: 30px;
        &:first-child {
          padding-left: 0;
        }
        &:hover {
          color: #175199;
        }
      }
    }
    /** NAV BAR END **/

    /** SEARCH BAR BEGIN **/
    #searchbar {
      position: absolute;
      left: 275px;
      height: 30px;
      width: 400px;

      form {
        position: relative;
        display: inline-block;
        width: 325px;
        height: 30px;
        background-color: #f6f6f6;
        font-size: 13px;
        border: 1px solid #ebebeb;
        padding: 4px 10px;
        box-sizing: border-box;
        border-radius: 2px;
        color: $default-color;
        input {
          padding: 0;
          color: #1a1a1a;
          height: 22px;
          width: 305px;
          background-color: inherit;
          border: none;
          line-height: 22px;
          &:focus {
            outline: none;
          }
        }
        div {
          height: 22px;
          width: 22px;
          position: absolute;
          right: 4px;
          top: 4px;
          cursor: pointer;
          svg {
            position: relative;
            left: 3px;
            top: 3px;
          }
        }
      }

      button {
        color: #fff;
        background-color: #0084ff;
        margin-left: 15px;
        padding: 0 14px;
        line-height: 30px;
        border-radius: 3px;
        font-size: 14px;
        cursor: pointer;
      }
    }
    /** SEARCH BAR END **/

    /** ACCOUNT BAR BEGIN **/
    #accountbar {
      position: absolute;
      right: 0;
      display: flex;
      width: 180px;
      height: 30px;
      .accountbar-icon {
        margin-right: 40px;
        padding: 5px 0;
        width: 20px;
        button {
          color: $default-color;
          cursor: pointer;
          &:hover {
            color: #77839c;
          }
        }
      }
    }
    /** ACCOUNT BAR END **/
  }
}

/** MESSAGE BEGIN **/
#info-container {
  position: fixed;
  top: 35px;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  min-height: 100px;
}
.message, .letter, .account {
  position: absolute;
  right: -15px;
  margin-top: 16px;
  z-index: 1000;
  width: 360px;
  height: 420px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(26,26,26,.1);
  box-sizing: border-box;
}
.message:before, .message:after,
.letter::before, .letter::after,
.account::before, .account::after {
  content: '';
  height: 0;
  width: 0;
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 0 10px 10px;
  position: absolute;
  z-index: 100;
  top: -8px;
  left: 165px;
}
.message:before, .letter::before, .account::before {
  border-color: transparent transparent #e7eaf1;
  top: -10px;
}
.message-content, .letter-content {
  height: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.message-empty, .letter-empty {
  height: 120px;
  width: 150px;
  font-size: 15px;
  color: #8590a6;
  text-align: center;
  svg {
    margin-bottom: 20px;
    color: rgba(133,152,166,0.5);
  }
}
.message-footer, .letter-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;
  >a {
    font-size: 14px;
    line-height: 40px;
    color: #8590a6;
    > svg {
      margin-right: 3px;
      top: 5px;
    }
  }
}
.letter {
  right: -75px;
}
/** MESSAGE END **/

/** ACCOUNT BEGIN **/
.account {
  right: -8px;
  width: 116px;
  height: 120px;
  padding: 6px 0;
  box-sizing: border-box;
  a {
    display: block;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    font-size: 14px;
    color: #8590a6;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    &:hover {
      background-color: #f6f6f6;
    }
    svg {
      top: 3px;
      left: -2px;
    }
  }
}
.account::before, .account::after {
  left: 46px;
}
/** ACCOUNT END **/
