#main-container {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  min-height: 100vh;
}
#dashboard {
  position: absolute;
  top: 0;
  left: 0;
}

/** RECOMMEND LIST BEGIN **/
main {
  padding-top: 68px;
  width: 690px;
  min-height: 200px;
  margin-right: 10px;
}

/** RECOMMEND ANSWER **/
.recommend {
  width: 690px;
  height: auto;
  background-color: #fff;
  padding: 16px 20px;
  box-sizing: border-box;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  overflow: hidden;
  border-radius: 3px;
  &:first-child {
    margin-top: 0;
    font-size: 14px;
  }

  .feed-title {
    margin-bottom: 14px;
    color: #8590a6;
    line-height: 1;
    font-size: 15px;
  }

  .author-info span {
    &:first-child {
      font-weight: 600;
      color: #444;
    }
    &:last-child {
      color: #646464;
      font-size: 14px;
      &::before {
        content: "\FF0C";
      }
    }
  }

  .question-title {
    margin-top: 14px;
    h2 {
      font-size: 18px;
      font-weight: 600;
      font-synthesis: style;
      line-height: 1.6;
      margin-top: -4px;
      margin-bottom: -4px;
      a {
        color: #1a1a1a;
        &:hover {
          color: #175199;
        }
      }
    }
  }

  .answer-content {
    margin-top: 9px;
    margin-bottom: 5px;
    font-synthesis: style;
    word-break:break-all;
    overflow: hidden;
    color: #1a1a1a;
    font-size: 15px;
    cursor: pointer;
    .answer-publish {
      margin-top: 10px;
      font-size: 14px;
      color: #8590a6;
    }
    span {
      &:hover {
        color: #646464;
      }
    }
    button {
      cursor: pointer;
      margin-left: 4px;
      color: #175199;
      &:hover {
        color: gray;
      }
      svg {
        position: relative;
        top: 3px;
      }
    }
  }
  .answer-actions-outside {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 0 -20px -10px;
    color: #646464;
    button {
      color: #8590a6;
    }
    .read-less {
      margin-left: auto;
      cursor: pointer;
      font-size: 14px;
      line-height: 30px;
      color: #8590a6;
      svg {
        top: 2px;
      }
    }
  }
}
/** RECOMMEND ANSWER **/

/** RECOMMEND LIST END **/

/** SIDE CONTAINER BEGIN **/
#side-container {
  width: 280px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  overflow: hidden;
  border-radius: 3px;
}
.nav-list {
  padding: 8px 0;
  >li {
    list-style-type: none;
    &:hover {
      background: #f6f6f6;
    }
    >a {
      display: flex;
      align-items: center;
      padding: 0 20px;
      height: 40px;
      overflow: hidden;
      font-size: 14px;
      color: #8590a6;
      text-align: center;
      span {
        margin: 0 10px;
      }
    }
  }
}
/** SIDE CONTAINER END **/
