.question-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 100px;
  width: auto;
}
section {
  width: 70%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  > div {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    .topic {
      color: #999;
      font-size: 14px;
      a {
        color: #666;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 14px;
      outline: 0;
      a {
        color: #259;
      }
    }
    .zg-bull {
      padding: 0 3px;
      color: #BBB;
      font-family: Arial;
    }
    .answer {
      font-size: 14px;
      color: #999;
    }
  }
}
