#signup {
  background-image: url(~/assets/images/account-background.png);
  background-repeat: no-repeat;
  background-color: #b8e5f8;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding-right: 15px;
  box-sizing: border-box;
}
#signup-container {
  overflow: visible;
  width: 432px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-sizing: border-box;
}

/** FORM HEADER BEGIN **/
.signup-header {
  padding-bottom: 5px;
  padding-top: 30px;
  img {
    width: 140px;
    height: auto;
  }
  div {
    margin-top: 15px;
    color: #0084ff;
    font-size: 22px;
  }
}
/** FORM HEADER END **/

/** COMMON STYLE BEGIN **/
button, input {
  font-size: 14px;
}
input {
  display: block;
  width: 100%;
  outline: none;
  margin-top: 16px;
  border-radius: 0;
  border: none;
  height: 48px;
  padding: 0;
  color: #8590a6;
}
.error-mask {
  height: 49px;
  font-size: 14px;
  color: #f1403c;
  text-align: left;
  line-height: 49px;
  cursor: text;
}
.form-options {
  margin-top: 12px;
  height: 20px;
}
.input-container {
  height: 48px;
  margin-top: 16px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0;
}
/** COMMON STYLE END **/

/** LOGIN CONTAINER BEGIN **/
.login-content, .register-content {
  padding: 0 40px 36px;
  .form-options {
    display: flex;
    justify-content: space-between;
    button:first-child {
      color: #175199;
    }
    button:last-child {
      color: #8590a6;
    }
  }
  form > button {
    border-color: #0077e6;
    background-color: #0084ff;
    width: 100%;
    margin-top: 30px;
    height: 36px;
    border-radius: 3px;
    color: #fff;
  }
}
/** LOGIN CONTAINER END **/

/** REGISTER CONTAINER BEGIN **/
.register-content form {
  .register-mobile {
    button {
      display: inline-block;
      float: left;
      height: 48px;
      width: 80px;
      color: #8590a6;
      svg {
        top: 2px;
        left: 4px;
      }
    }
    span {
      float: left;
      width: 1px;
      height: 22px;
      margin: 24px 12px 0;
      background: #ebebeb;
      -webkit-transform: translateY(-11px);
      transform: translateY(-11px);
    }
    .register-mobile-input {
      display: inline-block;
      width: 230px;
      border: none;
      input {
        margin: 0;
      }
    }
  }
  .register-code {
    position: relative;
    button {
      position: absolute;
      top: 15px;
      right: 0;
      padding: 4px 0;
      color: #175199;
      &:hover {
        color: #8590a6;
      }
    }
  }
  .form-options {
    display: block;
    button {
      float: right;
      color: #8590a6;
    }
  }
}
/** REGISTER CONTAINER END **/

/** SWITCH CONTAINER BEGIN **/
.signup-switch {
  text-align: center;
  line-height: 58px;
  width: 100%;
  background-color: #f6f6f6;
  height: 58px;
  border-top: 1px solid #ebebeb;
  font-size: 16px;
  span{
    color: #175199;
    cursor: pointer;
  }
}
/** SWITCH CONTAINER END **/
